@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrar/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Intern';
    src: url(../fonts//Intern/Inter-VariableFont_slnt\,wght.ttf);
}